.idea
Pipfile
.env
career-connect/node_modules
venv/
config/__pycache__/
user/__pycache__/
user/migrations/__pycache__/
job/__pycache__/
job/migrations/__pycache__/
chat/__pycache__/
chat/migrations/__pycache__/
